<h1><%= @entity_type.name %></h1>

<div class="text-center">
<ul class="pagination">
<%
l_arr = ['#'] + ('A'..'Z').to_a
for l in l_arr do
  li_class = ''

  if @letters.include? l and @letter != l
    text = link_to l, send(@entity_type.pagination_path, letter: l)
  else
    li_class = @letter == l ? ' class="active"' : ' class="disabled"'
    text = raw("<span>#{l}</span>")
  end
%>
  <li<%= raw(li_class) %>><%= text %></li>
<% end %>
</ul>
</div>

<div class="row">
<% @entities.each do |entity| %>
  <%= render 'entity_card', entity: entity %>
<% end %>
</div>

