<p id="notice"><%= notice %></p>

<div class="row">
  <h1 class="col-xs-12 col-sm-6"><%= @tag.name %></h1>
  <div class="col-xs-12 col-sm-6 yk-header-menubar">
    <%= link_to raw('<span class="btn-label"><i class="fa fa-pencil"></i></span> &Eacute;diter'), edit_tag_path(@tag), :class => 'btn btn-info btn-labeled' %>
  </div>
</div>

<% if not @tag.description.blank? %>
<div class="panel panel-default">
  <div class="panel-body text-justify">
    <%= @tag.description %>
  </div>
</div>
<% end %>

<div class="panel panel-default">
    Liste des entités de avec ce tag
</div>